@layer reset, defaults, patterns, components, overrides;

@layer reset {
  * {
    box-sizing: border-box;
  }
  img {
    display: block;
  }
}

@layer defaults {
  .o-participants-container,
  .o-cards-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .c-card {
    border-radius: 10px;
    overflow: hidden;
    background-color: $primary;
  }
}

@layer patterns {
  .o-participants-container {
    margin-block-start: 2.75rem;
    margin-block-end: 5rem;
    flex-direction: column;
    gap: 3rem;
  }

  .o-cards-container {
    gap: 3rem;
    container-type: inline-size;
    container-name: cards-container;
  }
}

@layer components {
  .c-card {
    width: 280px;
    height: 360px;
    picture {
      img {
        width: 100%;
        height: 230px;
        object-fit: cover;
      }
    }
  }

  .o-card-data {
    padding: 1rem;
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    p:first-of-type {
      font-size: 1.25rem;
    }
    p:last-of-type {
      font-size: 0.9rem;
      text-align: center;
    }
  }
}

@layer overrides {
  @container cards-container (min-width: 768px) {
    .c-card {
      width: 300px;
      height: 380px;
    }
    .o-card-data {
      height: 140px;

      p:first-of-type {
        font-size: 1.5rem;
      }
      p:last-of-type {
        font-size: 0.95rem;
      }
    }
    picture {
      img {
        height: 240px;
      }
    }
  }

  @container cards-container (min-width: 1012px) {
    .c-card {
      width: 320px;
      height: 400px;
    }
    .o-card-data {
      height: 150px;

      p:first-of-type {
        font-size: 1.75rem;
      }
      p:last-of-type {
        font-size: 1rem;
      }
    }
    picture {
      img {
        height: 250px;
      }
    }
  }
}