<footer>
  <a class="navbar-brand o-logo" href="./index.html">JdSI</a>
  <ul class="nav d-flex justify-content-center">
    <li class="nav-item">
      <a class="nav-link link-secondary active" href="./index.html">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-secondary active" href="./participants.html">Participantes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-secondary active" href="./information.html">Información</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-secondary active" href="./contact.html">Contáctanos</a>
    </li>
  </ul>
  <ul class="nav d-flex justify-content-center c-social-media">
    <li class="nav-item">
      <a class="nav-link link-secondary active" href="#"><i class="fa-brands fa-x-twitter"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-secondary active" href="#"><i class="fa-brands fa-facebook-f"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-secondary active" href="#"><i class="fa-brands fa-instagram"></i></a>
    </li>
  </ul>
</footer>
